.git
.gitignore
.gitattributes
vendor/
.editorconfig
.env.example
dockerbuild
# NOTE: se estiver usando o ambiente de desenvolvimente adicione o diretório docker/production/ aqui, e vice versa
#docker/development/
#docker/production/
